@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Gujarati:wght@100&display=swap');
@import url('./Slider.css');

* {
    font-family: 'Noto Sans Gujarati', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

#app {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "navbar"
        "content";
    min-height: 100vh;
    background-color: #f0f0f0;
}

.navbar {
    grid-area: navbar;
    width: 100%;
    background-color: #1F4959;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.admin-page-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar h1 {
    margin-bottom: 10px;
    color: white;
    font-size: 1.8em;
    width: 100%;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.container {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.top-left, .top-right, .bottom-left, .bottom-right {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.toggle-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

canvas {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
}

#webcam {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
}

.bottom-right h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.blinking {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
    animation: blinking-animation 1.5s infinite;
}

@keyframes blinking-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Responsive Breakpoints */
@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .navbar {
        padding: 15px 50px;
    }

    .navbar h1 {
        width: auto;
        text-align: left;
        margin-bottom: 0;
    }

    .navbar a {
        text-align: right;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar h1 {
        margin-bottom: 10px;
    }

    .blinking {
        font-size: 1.5rem;
    }
}

.navbar-buttons {
    display: flex;
    flex-direction: row;
}