<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link rel="stylesheet" href="/static/LoginPage.css">
    <link rel="icon" href="/static/images/icon.png" type="image/x-icon">
    <title>Heatseekers - Login</title>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div class="stripe"><p>Welcome to HeatSeekers</p></div>

<h1>Login to HeatSeekers!</h1>

<form action="/view" method="post">
    <section id="LoginField">
        <div class="loginItem">
            <label for="email"></label>
            <input id="email" name="email" required type="text">
            <span>Email</span>
        </div>

        <div class="loginItem">
            <label for="password"></label>
            <input id="password" name="password" required type="password">
            <span>Password</span>
        </div>

        <button type="submit" class="submitButton1">Login</button>
    </section>
</form>

<!-- Passwortänderungs-Popup mit SweetAlert -->
<script>
    {% if show_popup %}
        Swal.fire({
            title: 'Change Your Password',
            html: `
                <form id="changePasswordForm" action="{{ url_for('change_password') }}" method="POST">
                    <input type="hidden" name="email" value="{{ email }}">
                    <label for="new_password">New Password:</label>
                    <input type="password" id="new_password" name="new_password" required>
                </form>
            `,
            showCancelButton: true,
            cancelButtonText: 'Cancel',
            confirmButtonText: 'Submit',
            customClass: {confirmButton: 'sweetalert-button'},
            preConfirm: () => {document.getElementById('changePasswordForm').submit();}
        });
    {% endif %}
</script>
</body>
</html>
