<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/MainPage.css">
    <link rel="icon" href="/static/images/icon.png" type="image/x-icon">

    <title>Heatseekers - Main Page</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div id="app">
    <div class="navbar">
        <h1>Heatseekers</h1>

        {% if isAdmin == True %}
        <div class="admin-page-div">
            <a href="{{ url_for('admin_page')}}" target="_blank">Admin Dashboard</a>
        </div>
        {% else %}
        <div class="admin-page-div">
            <a href="{{ url_for('admin_page')}}" target="_blank">My Dashboard</a>
        </div>
        {% endif %}
    </div>

    <div class="container">
        <div class="top-left">
            <label class="switch">
                <input type="checkbox" v-model="isTemperatureBarChart" @change="updateChart('temperature')">
                <span class="slider round"></span>
            </label>

            <canvas id="temperature"></canvas>
        </div>

        <div class="top-right">
            <label class="switch">
                <input type="checkbox" v-model="isHumidityBarChart" @change="updateChart('humidity')">
                <span class="slider round"></span>
            </label>
            <canvas id="humidity"></canvas>
        </div>

        <div class="bottom-left">
            <img src="{{ url_for('video_feed') }}" alt="Webcam Feed" id="webcam"/>
        </div>

        <div class="bottom-right">
            <template v-if="showFloodWarning">
                <h2 class="blinking">Flood Warning</h2>
                <img class="blinking" src="/static/images/flood-icon.png" alt="Flood Alert" height="250">
            </template>
            <template v-else>
                <h2>No Flood Warning</h2>
                <img src="/static/images/flood-icon2.png" alt="System Status: Okay" height="250">
            </template>
        </div>
    </div>

    <script src="/static/MainPage.js"></script>
</div>
</body>

</html>
